.imagen{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img{
    width: 50%;
    border-radius: 2rem;
}
.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 3rem;
    width: 100%;
    margin: 5px;
    
    color: white;
    transition: background 0.3s;
    
    
}
button{
    background-color: darkblue;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-top: 3rem;
    cursor: pointer;
}
button:hover{
    background-color: aqua;
}